@{
  Layout = "_Layout";
}

<h1>@Model.GetYourName()'s' Recently Added Work Experience</h1>

<p><strong>Company Name:</strong> @Model.GetCompanyName()</p>

<p><strong>Job Title:</strong> @Model.GetJobTitle()</p>

<p><strong>Start Date:</strong> @Model.GetStartDate()</p>

<p><strong>End Date:</strong> @Model.GetEndDate()</p>

<p><strong>Job Description:</strong> @Model.GetJobDescription()</p>

<a href="/"><button class="btn btn-default">Add Work Experience</button></a>

<a href="/showAllWork"><button class="btn btn-default">View All Work Experience</button></a>
